html, body{
    margin: 0;
}
.wrapper{
    width: 100vw;
    height: 100vw;
    background-color: #ca6077;
}
.box{
    background-color: #000000;
    width: 100px;
    height: 100px;
    /* margin: 50px 10px 5px 8px; */
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-bottom: 5;
    /*padding: 20px 10px 2px 4px;*/
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 2px;
    padding-left: 4px;
    border: 7px dashed rgb(112, 38, 11);
    border-top: 6px solid rgb(255, 251, 22);
    border-bottom: 2px solid rgb(80, 161, 111);
    border-right: 5px  solid rosybrown;
   /* border-radius: 50%;*/
}
.rounded{
    width: 150px;
    height:  150px;
    border: 1px solid yellow;
    border-radius: 25%;
}
.grandson{
    width: 20px;
    height: 20px;
    background-color: aqua;
}